@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --color-background: #d5d6db;
    --color-headings: #0f0f14;
    --color-text: #343b58;
    --color-text-dark-bg: #d5d6db;
    --color-links: #565a6e;
    --color-accent: #34548a;
    --color-placeholder: #8c4351;

    font-family: "Lato", sans-serif;

    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: var(--color-background);
    color: var(--color-text);
}

main {
    padding-inline: 2rem;
    padding-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-headings);
}

a {
    color: var(--color-links);
    text-decoration: none;
}

.about .background {
    background: var(--color-accent);
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.portrait-image {
    position: relative;
    box-shadow: 1px 1px 4px var(--color-headings);
}

.portrait-image .name {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--color-background);
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px var(--color-text);
}

.about-text h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.about-text p {
    font-size: 1.2rem;
}

.about-text .buttons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0 2rem;
}

.my-work {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.my-work h2 {
    text-align: center;
    font-size: 1.7rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    box-shadow: 1px 1px 4px var(--color-headings);
}

.card img {
    background: var(--color-placeholder);
    color: var(--color-background);
    font-size: 1.3rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-description {
    padding: 1rem 1.5rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.card-title h3 {
    padding: 0;
    margin: 0;
}

.card-title h3,
.card-title a {
    font-size: 1.4rem;
}

.card-buttons {
    display: flex;
    gap: 1rem;
}

footer {
    background: var(--color-accent);
    color: var(--color-text-dark-bg);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact {
    padding-inline: 2rem;
}

.contact h2 {
    font-size: 1.7rem;
    text-align: center;
    color: var(--color-text-dark-bg);
}

.contact p  {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.contact-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    main {
        padding-inline: 4rem;
    }

    .about-card {
        display: inline-block;
    }

    .portrait-image {
        width: 35vw;
        float: left;
        margin: 0 1rem 0rem 0;
    }

    .portrait-image .name {
        top: 1rem;
        right: -27rem;
        left: unset;
        bottom: unset;
        font-size: 3rem;
        width: 15ch;
    }

    .about-text {
        background: var(--color-background);
        box-shadow: 1px 1px 4px black;
        margin: 6rem 0 0 4rem;
        padding: 2rem;
    }

    .about-text h1 {
        text-align: left;
    }

    .about-text .buttons {
        justify-content: flex-end;
    }

    .my-work h2 {
        text-align: left;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        overflow: hidden;
    }

    .contact {
        padding: 2rem 0 2rem 4rem;
    }

    .contact h2 {
        text-align: left;
    }

    footer img {
        width: 50vw;
        object-fit: cover;
    }
}
